@import "../../../data/styles.css";

.educations {
	width: 100%;
	margin: 1rem;
}

.educations-body {
	text-decoration: none;
	margin-bottom: 1rem;
}

.education a {
	display: flex;
	width: 100%;
	align-items: center;
	text-decoration: none;
	height: 3.5rem;
	margin-bottom: 1rem;
}

.education {
	transition: all 0.3s ease-in-out;
}

.education:hover {
	background: var(--quaternary-color);
	border-radius: 2rem;
	transition: all 0.5s;
}

.education-image {
	height: 30px;
	width: 30px;
	margin-left: 0.8rem;
	border-radius: 50%;
	outline: 6px solid white;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.education-description {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.education-titles {
	padding-left: 1rem;
}

.education-title {
	font-size: 15px;
	font-weight: 700;
	color: var(--secondary-color);
}

.education-subtitle {
	font-size: 12px;
	color: var(--secondary-color);
}

.education-duration {
	width: 4rem;
	padding-right: 1rem;
	font-size: 12px;
	text-align: right;
	color: var(--secondary-color);
}
