:root {
	/* ------- colors-light ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------------- */

	/* ------- colors-dark ------- */
	--primary-color-dark: #240046;
	--secondary-color-dark: #3c096c;
	--tertiary-color-dark: #7b2cbf;
	--quaternary-color-dark: #9d4edd;
	--link-color-dark: #ff8500;
	/* ---------------------------- */


	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
